.product-card{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.product-title{
    text-transform: uppercase;
    color: gray;
}

.product-image{

    width: 200px;
}

.users-box{
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.user-block{
    width: 49%;
    border: 1px dashed silver;
    border-radius: 10px;
    margin: 5px 0;
    text-align: center;
}

.address-block{
    color: blueviolet;
}

.wrap{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.post-card{
    width: 18%;
    text-align: justify;
}