.wrap{
background-color: blueviolet;
}
.collapse{
    border: 3px solid greenyellow;
color: gray;
}
.alpha{
    width: 200px;
    margin-bottom: 5px;
}
.beta{
    height: 200px;
}

.item{
    border: 1px solid blue;
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
}

.disappears{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}

.inputAge{
    width: 100px;
    height: 20px;
}

.td{
    border: 1px solid black;
}